<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.saymyname.dao.PermissionMapper" >


    <insert id="insert">
         INSERT  into t_permission (name,pid,url,icon)
              VALUES (#{name},#{pid},#{url},#{icon});
    </insert>

    <update id="update">
        update t_permission SET name = #{name}, url = #{url}
              where id = #{id}
    </update>

    <select id="queryPermissionsByUser" resultType="cn.saymyname.bean.Permission">

      SELECT * from t_permission where id in(
          select permission_id from t_role_permission where t_role_permission.role_id IN (
                  SELECT role_id from t_user_role where t_user_role.user_id = #{userId}
              )
      )

    </select>
</mapper>