<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.saymyname.dao.WeightMapper" >


    <select id = "findWeightByUserIdAndDateStr" resultType="realTimeWeight" parameterType="realTimeWeight">
        SELECT * from real_time_weight where user_id = #{userId} and date_str = #{dateStr}
    </select>

    <update id="update"  parameterType="realTimeWeight">
          UPDATE real_time_weight set weight = #{weight},waist = #{waist} where  id = #{id}
    </update>

</mapper>